/*
 Theme Name: Starscream Child
 Theme URI: https://thebeartraxs.com/
 Description: Permanent child theme for the Starscream parent theme.
 Author: Eric Kowalewski
 Author URI: https://thebeartraxs.com
 Template: starscream
 Text Domain: starscream-child
 Tags: child-theme, woocommerce, responsive
 * Version: 1.0.1
 * Update URI: https://github.com/emkowale/starscream-child
*/

/* 
  You can put your overrides below. This file is versioned with filemtime in functions.php, 
  so updates bust cache automatically.
*/

